<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6 social">
        <div class="footer-logo">
          <a href="#">
            <img src="assets/img/footer-logo.png" alt="Footer Logo">
          </a>
        </div>
        <div class="social">
          <div class="social-icon">
            <a href="#"> <i class='bx bxl-facebook'></i></a>
            <a href="#"> <i class='bx bxl-instagram'></i></a>
            <a href="#"> <i class='bx bxl-youtube'></i></a>
            <a href="#"> <i class='bx bxl-twitter'></i></a>
          </div>
          <span class="copyright quick-links">
            &copy;
            <script>document.write(new Date().getFullYear())</script> Wazen, All Rights Reserved
          </span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-4 footer-column">
            <ul class="nav flex-column">
              <li class="nav-item">
                <p class="footer-title">What We offer?</p>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Auto Insurance</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"> Manage Policy </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Submit a Claim</a>
              </li>
            </ul>
          </div>
          <div class="col-md-4 footer-column">
            <ul class="nav flex-column">
              <li class="nav-item">
                <p class="footer-title">Who We Are?</p>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"> Contact Us </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Legal & Admin Policies Sitemap</a>
              </li>
            </ul>
          </div>
          <div class="col-md-4 footer-column">
            <ul class="nav flex-column">
              <li class="nav-item">
                <p class="footer-title">More info</p>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">FAQ’s </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Terms & Conditions</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"> Privacy Policy</a>
              </li>
            </ul>
          </div>
        </div>
        <hr class="text-white">
        <div class="download-wrap">
          <span>Download the Wazen App</span>
          <div class="download-links"><a href="#" class="app-store"></a></div>
          <div class="download-links"><a href="#" class="play-store"></a></div>
        </div>
      </div>
    </div>
  </div>
</footer>
