/* Desktop Header */
header {
  position: fixed;
  padding: 14px 0;
  background: #fff;
  width: 100%;
  top: 0;
  z-index: 999;
}
#header.active {
  box-shadow: 0px 0px 36px #0000000a;
  -webkit-transition: 0.3s all ease-in;
  -o-transition: 0.3s all ease-in;
  transition: 0.3s all ease-in;
}
#navbarToggle {
  padding: 0 30px;
}
.navbar-nav.left-nav .header-logo img {
  width: 120px;
}
.navbar-nav.left-nav {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.navbar-nav.left-nav .menu-link {
  padding: 0 30px;
  cursor: pointer;
  // div {
  //   width: 26px;
  //   height: 3px;
  //   background-color: #c4c4c4;
  //   border-radius: 100px;
  //   margin-top: 5px;
  // }
}
.navbar-nav.left-nav .nav-item a {
  color: $primary;
  padding-left: 26px;
  font-weight: 600;
  font-size: 0.9rem;
}
.navbar-nav.right-nav .nav-item a {
  color: $secondary;
  padding-right: 25px;
  font-weight: 500;
  font-size: 0.9rem;
}
.arabic-lang {
  display: flex;
  align-items: center;
  img {
    height: 20px;
    width: 20px;
  }
  a.nav-link {
    // font-family: " GE-SS" !important;
    font-family: "GE-SS";
  }
}
.navbar-nav.right-nav .nav-item .nav-link i {
  color: #c4c4c4;
  padding-right: 10px;
}
/* Mobile Header */

/*-----------Changes 27-09-2021---------------*/

ul.navbar-nav.right-nav .nav-link {
  font-size: 17px;
  font-family: "Poppins-SemiBold";

}

ul.navbar-nav.left-nav .nav-link {
  font-size: 17px;
  font-family: "Poppins-SemiBold";
}
