.user-profile {
  padding: 30px 0 0 0;
  img.user-ava {
    max-width: 100px;
  }
  p.user-name {
    margin: 0;
    font-family: "Poppins-Bold";
    font-size: 1.3rem;
    padding: 16px 0;
    color: #34495e;
  }
}
.profile-container {
  .nav {
    border: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    background: #e8e8e8;
    margin: 0 auto;
    border-radius: 28px;
  }
  .nav-tabs {
    .nav-link.active {
      color: $links;
      background-color: $primary;
      border: 0;
      border-radius: 28px;
    }
    .nav-link {
      border: 0;
      &:focus {
        border: 0;
      }
      &:hover {
        border: 0;
      }
    }
  }
  ul.nav {
    li {
      a {
        font-family: "Poppins-Bold";
        color: #8b8f93;
        font-size: 0.8rem;
        padding: 10px 20px;
        -webkit-transition: unset;
        -o-transition: unset;
        transition: unset;
      }
    }
  }
}

#profile-policies .acc-policies-list {
  border: 2px solid #d5dde8;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  &:hover {
    border-color: $primary;
    background-color: #eafbff;
    transition: 0.3s ease-in all;
    cursor: pointer;
  }
}
#profile-policies {
  .acc-policies-list {
    table {
      margin-bottom: 0;
      tr {
        vertical-align: initial;
        // &:first-child {
        //   vertical-align: middle;
        // }
        td {
          padding: 0;
          b {
            font-family: "Poppins-Bold";
          }
        }
      }
      th {
        .policies-carname {
          span {
            font-size: 12px;
            font-weight: 500;
          }
          p {
            font-size: 18px;
            font-weight: 600;
          }
        }
      }
      .policies-carnum {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background-color: #f7f7f7;
        border: 1px solid #707070;
        border-radius: 9px;
        padding: 5px 2px 2px 2px;
        span {
          padding: 0 1rem;
          // font-weight: 600;
          // letter-spacing: 1px;
          color: #565a5f;
          font-size: 1rem;
        }
      }
    }
    .policies-car {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin-bottom: 0.8rem;
      .policies-carnum {
        @include for-dflex();
        background-color: #f7f7f7;
        border: 1px solid #707070;
        border-radius: 9px;
        padding: 5px 2px 2px 2px;
        span {
          font-family: "Poppins-Bold";
          padding: 0 0.9rem;
          color: #565a5f;
          font-size: 1.3rem;
        }
      }
      .policies-carname {
        span {
          font-size: 0.775rem;
          font-family: "Poppins-Regular";
          color: $secondary;
        }
        p {
          font-size: 18px;
          font-family: "Poppins-Bold";
        }
      }
    }
  }
}

#profile-policies .acc-policies-list .policies-type,
#profile-policies .acc-policies-list .policies-expiry {
  justify-content: space-between;
  font-size: 12px;
  color: $secondary;
  margin-top: 5px;
  p {
    font-weight: 500;
  }
  span {
    font-weight: 600;
  }
}
.policies-list {
  border: 2px solid #d5dde8;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
  .policies-status {
    position: absolute;
    top: -13px;
  }
  .policies-car {
    justify-content: space-between;
  }
  .policies-carname span {
    font-size: 0.775rem;
    color: $secondary;
  }
  .policies-carname p {
    font-size: 18px;
    font-family: "Poppins-Bold";
  }
  .policies-carnum {
    background-color: #f7f7f7;
    border: 2px solid #707070;
    border-radius: 9px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 5px 2px 2px 2px;
    span {
      font-family: "Poppins-Bold";
      font-size: 1.3rem;
      padding: 0 16px;
      color: #565a5f;
    }
  }
}

.singal-policies-info {
  padding: 28px 48px;
  table tr > td {
    // padding-bottom: 0.7rem;
  }
  table tr{
    border-top: 0.7rem solid transparent;
    border-bottom: 0.7rem solid transparent;
  }
  table dl{
    margin-bottom: 0;
    dd{
      padding: 0.5rem 0 ;
    }
  }
  table tr th {
    font-family: "Poppins-Medium";
    font-size: 0.9rem;
    color: #7b7b7b;
    font-weight: unset;
    dt {
      font-family: "Poppins-Bold";
    }
    dl dd {
      font-family: "Poppins-Medium";
      margin-left: 10px;
      margin-bottom: 0;
    }
  }
  table tr td {
    color: $secondary;
    font-family: "Poppins-SemiBold";
    font-size: 0.9rem;
    padding-left: 3rem;
  }
}
.policies-price {
  font-family: "Poppins-SemiBold";
  &::before {
    content: "SAR";
    color: #a3a3a3;
    font-family: "Poppins-SemiBold";
  }
}
.policies-info-total {
  @include for-dflex();
  align-items: baseline;
  p {
    margin-bottom: 0;
    font-family: "Poppins-Medium";
    font-size: 1.1rem;
    color: #7b7b7b;
  }
  .policies-price {
    font-family: "Poppins-Bold";
    font-size: 1.8rem;
    margin-left: 10px;
  }
}
.policies-action {
  @include for-dflex();
  margin: 40px 0;
  .btn-main {
    @include for-dflex();
    padding: 8px 10px 8px 20px;
  }
  .btn-main i {
    font-size: 1.5rem;
  }
}
#policies-actions .modal-dialog .modal-content {
  border: 0 !important;
  background-color: #f5f8fb !important;
  .btn-close {
    position: absolute;
    top: 5px;
    right: 25px;
    background: none;
  }
  .btn-close::after {
    content: "\eef0";
    font-family: boxicons !important;
    color: #fff;
    background: grey;
    border-radius: 50%;
    font-size: 1.5rem;
  }
  .claim-selection {
    padding: 180px 120px;
  }
}
#policies-actions {
  top: 8%;
}
#profile-transactions {
  .date-range i {
    color: #b2b2b2;
    position: absolute;
    top: 6px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    opacity: 0.6;
  }
  .transaction-wrap {
    .transaction-list {
      .transaction-item {
        @include for-dflex();
        justify-content: space-around;
        background-color: #edf3f8;
        border-radius: 8px;
        margin-bottom: 1rem;
        padding: 16px 0;

        p {
          color: #818181;
          font-size: 0.875rem;
          font-family: "Poppins-Medium";
        }
        .transaction-link a {
          font-size: 0.67rem;
          color: $primary;
          text-decoration: underline;
          font-family: "Poppins-Medium";
        }
        .transaction-view {
          h6 {
            color: $secondary;
            font-size: 1rem;
            font-family: "Poppins-Bold";
          }
          p {
            font-size: 0.775rem;
            color: #818181;
          }
        }
        .badge-pending,
        .badge-complete,
        .badge-reject {
          width: 6rem;
        }
      }
      .transaction-filter {
        @include for-dflex();
        justify-content: space-around;
        margin-bottom: 20px;

        .filter-item {
          display: flex;
          cursor: pointer;
          P {
            font-family: "Poppins-SemiBold";
            color: $primary;
            &::after {
              display: inline-block;
              content: " ";
              background-image: url("../img/filter-down.svg");
              background-size: 14px 20px;
              background-repeat: no-repeat;
              height: 15px;
              width: 18px;
              margin-left: 0.5rem;
            }
          }
        }
      }
    }
  }
}
#claim-tracking {
  .transaction-wrap {
    border-radius: 8px;
    .transaction-list {
      .transaction-item {
        @include for-dflex();
        justify-content: space-around;
        background-color: #edf3f8;
        border-radius: 8px;
        margin-bottom: 1rem;
        padding: 20px 0;
        p {
          color: #818181;
          font-size: 14px;
          font-family: "Poppins-Medium";
        }
        .badge-pending,
        .badge-complete,
        .badge-reject {
          width: 6rem;
        }
      }
    }
  }
}
