$primary-bg:#EDF3F8;
$primary: #06aecc;
$secondary: #313c48;
$links: #fbfbfb;
$card: #f4f8fb;
$textprimary:#06AECC;
$textgrey:#919191;
$textwhite:#fff;
$textlight:#7B7B7B;
$button: transparent linear-gradient(130deg, #06aecc 0%, #3269c4 100%) 0% 0%
    